// blue
$color-blue600: rgba(59, 124, 211, 1);
$color-blue500: rgba(94, 150, 252, 1);
$color-blue400: rgba(146, 193, 255, 1);
$color-blue300: rgba(183, 214, 255, 1);
$color-blue200: rgba(201, 224, 255, 1);
$color-blue100: rgba(222, 236, 255, 1);
// gray scale
$color-white: rgba(255, 255, 255, 1);
$color-grey100: rgba(245, 245, 246, 1);
$color-grey200: rgba(234, 235, 237, 1);
$color-grey300: rgba(213, 214, 220, 1);
$color-grey500: rgba(172, 173, 185, 1);
$color-grey600: rgba(123, 124, 136, 1);
$color-black: rgba(35, 33, 52, 1);
// breakpoints
$breakpoints: (
  "small": 560px,
  "medium": 980px,
  "large": 1200px,
) !default;
