@import "../../sass/abstracts/variables";

.filterContainer {
  margin-top: 4rem;
  margin-left: 16.2rem;
  width: 31rem;
  padding: 2rem;
  border-radius: 1.2rem;
  border: 1px solid $color-grey200;
  background-color: $color-white;
}

.twoColLayout {
  display: flex;
  justify-content: space-between;
}
