@import "../../sass/abstracts/variables";

.filterContainer {
  width: 31rem;
  padding: 2rem;
  border-radius: 1.2rem;
  border: 1px solid $color-grey200;
  background-color: $color-white;
  box-sizing: border-box;
}

.twoColLayout {
  display: flex;
  justify-content: space-between;
}
